.App {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.25rem;
    color: #003566;
}

.noNews {
    font-family: monospace;
    font-size: 2.25rem;
    color: #ff4500;
}
