.newsContainer {
    width: 45%;
    border: 1px solid #000814;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    color: #001d3d;
}

.newsContainer > h3 {
    font-size: 20px;
    color: #001d3d;
}

button {
    background-color: #ffffff;
    border-radius: 10px;
    width: 100px;
}

button:hover {
    opacity: 0.8;
    background-color: #4aa6fc;
}

.detailsContainer {
    display: flex;
    flex-flow: column wrap;
}

.excerptContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.infoContainer {
    width: 40%;
}

.infoContainer > p {
    color: #778899;
    font-size: 16px;
    text-align: justify;
}

.inlineStyling {
    color: #000814;
}

.excerptContainer > img {
    width: 20vw;
    height: 20vw;
    margin: 20px;
}

.navigationContainer {
    height: 50px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}
