.categorySelector {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #000814;
    border-radius: 50px;
    margin: 5px;
    color: #001d3d;
}

.categorySelector > p:hover {
    color: #4aa6fc;
}

.selectedCategory {
    text-decoration: underline;
    font-weight: bold;
    color: #ffc300;
}